<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Dating App</a>
    <ul class="navbar-nav mr-auto" *ngIf="isloggedIn()">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']">Matches</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']">Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>
    </ul>

    <div class="dropdown" *ngIf="isloggedIn()" dropdown>
      <span class = "mr-1">
        <img src="{{ photoUrl || '../../../../assets/user.png'}}" alt="">
      </span>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{ authService.decodedToken?.unique_name | titlecase }}
      </a>

      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/member/edit']" 
          ><i class="fa fa-user mr-1"></i>Edit</a
        >
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"
          ><i class="fa fa-sign-out mr-1"></i>Logout</a
        >
      </div>
    </div>

    <form
      class="form-inline my-2 my-lg-0"
      [formGroup]="model"
      (ngSubmit)="onSubmit()"
      *ngIf="!isloggedIn()"
    >
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="Username"
        formControlName="Username"
        name="Username"
      />
      <input
        class="form-control mr-sm-2"
        type="password"
        placeholder="Password"
        formControlName="Password"
        name="Password"
      />
      <button
        class="btn btn-success my-2 my-sm-0"
        type="submit"
        [disabled]="model.invalid"
      >
        Login
      </button>
    </form>
  </div>
</nav>
